<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="/static/css/admin.css">
  <title>Admin page</title>
</head>
<body>
  <div class="container">

    <nav class="nav-bar">
      <div class="input-box">
        <input type="search" placeholder="Search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <div>
        <i class="fa-solid fa-bell"></i>
        <i class="fa-solid fa-envelope"></i>
        <span style="font-size: 10px">Hyeon Woo</span>
      </div>
    </nav>

    <aside class="side-bar">
      <div class="side-bar__icons">
        <i class="fa-solid fa-house"></i>
        <i class="fa-solid fa-headphones"></i>
        <i class="fa-solid fa-flag"></i>
        <i class="fa-solid fa-chart-pie"></i>
      </div>
    </aside>

    <div>

    </div>
  </div>
</body>
</html>