<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/card.css">
  <title>practice card template</title>
</head>
<body>
  <div class="container">
    <div class="card-box">
      <div class="card-box__img">
        <h1>600 x 350</h1>
      </div>
      <div class="card-box__content">
        <div class="card-news">News</div>
        <h4 class="card-title">Blog post title</h4>
        <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="card-profile">
          <div class="card-profile__img">
            <span>40x40</span>
          </div>
          <div class="card-prfile__content">
            <span>Kelly Rowan</span>
            <span>March 12, 2021 6 min read</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>