<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/profile.css">
  <title>Profile</title>
</head>
<body>
  <div class="container">
    <div class="profile">

      <div class="profile-title">
        <div class="profile-img">Profile</div>
        <div class="profile-name">
          <h3>Hyeon-woo</h3>
          <span>Front-end Developer</span>
          <span><i class="fa-solid fa-location-dot"></i>서울 금천구</span>
          <button>Contact</button>
        </div>
      </div>
      
      <div class="profile-info">
        <div class="profile-info__en">
          <div><span>Location</span></div>
          <div><span>Age</span></div>
          <div><span>Experience</span></div>
          <div><span>School</span></div>
        </div>

        <div class="profile-info__kr">
          <div><span>서울 금천구</span></div>
          <div><span>94년생</span></div>
          <div><span>신입</span></div>
          <div><span>한국대 컴퓨터공학과</span></div>
        </div>
      </div>
    </div>

    <div class="progress">
      <h5>Profile</h5>
      <div class="progress-bar">
        <div>
        </div>
      </div>
    </div>

    <!-- /* profile속성을 inherit받고 height부분만 재정의 */ -->
    <div class="profile profile-work">
      <div class="profile-work__info">
        <div><h3>WORKS</h3></div>
        <div><span>Landing page design</span></div>
        <div><span>Node.js To-do app</span></div>
        <div><span>React To-do app</span></div>
        <div><span>Shopping page design</span></div> 
      </div>
    </div>

    <div class="profile profile-about">
      <div class="profile-work__info">
        <div><h4>ABOUT</h4></div>
        <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum quo saepe voluptate ipsum sequi, non iure autem officia! Et molestias officia nulla veniam excepturi quam quaerat velit esse fuga ea!</p></div>
        <hr>
        <h3>SKILLS</h3>
        <div class="profile-skills">
          <div>HTML5</div>
          <div>CSS3</div>
          <div>JavaScript</div>
          <div>React</div>
        </div>
      </div>
    </div>

    <div class="profile">

    </div>

  </div>
</body>
</html>