:root {
  --text-color : #808080;
  --profile-color : #CED4DA;
}

body {
  margin: 0;
  font-family: 'nanumsquare';
}

div {
  box-sizing: content-box;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 5px;
}

.input-box {
  position : relative;
}

.input-box input {
  margin-left: 40px;
}

.fa-magnifying-glass {
  position : absolute;
  padding: 6px;
  background-color: black;
  color: white;
  border-radius: 3px;
  left: 186px;
  cursor: pointer;
}

.container {
  padding: 10px;
  position: relative;
}

.nav-bar {
  width : 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.side-bar {
  width: 34px;
  height: 1000px;
  background-color: #494CB4;
  position: absolute;
  top: 0px;
  left: 0px;
}

.side-bar__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 34px;
  height: 130px;
  color: white;
  cursor: pointer;
}

.dashboard {
  background-color: #FAFAFA;
  width: 100%;
  height: 1000px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.dashboard-box {
  display: flex;
}

.dashboard-box>div {
  width: 155px;
  height: 66px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 3px 0px;
  border-radius: 5px;
  margin-right: 15px;
}